body {
  font-family: monospace, sans-serif;
  font-size: 17px;
}

#container {
  margin: 75px auto 10px auto;
  padding: 8.5px;
  text-align: center;
  border: thin gray solid;
  width: 231.2px;
}

#display {
  display: inline-block;
  padding: 8.5px;
  width: 207.4px;
  height: 34px;
  vertical-align: middle;
  background-color: #f2f2f2;
  margin: 3.4px 3.4px;
  text-align: right;
}

section {
  display: inline-block;
  padding: 8.5px;
  width: 34px;
  height: 34px;
  text-align: center;
  vertical-align: middle;
  background-color: #bfbfbf;
  margin: 3.4px 3.4px;
  font-size: 17px;
}

section:hover {
  cursor: pointer;
  background-color: #858585;
}

section:active {
  background-color: #5f5f5f;
}

p {
  text-align: center;
  margin: 0 auto;
  font-size: 8.5px;
  color: #858585;
}

#zero {
  width: 91.8px;
}

#ac {
  width: 149.6px;
  background-color: #ffc0cb;
}

#ac:hover {
  background-color: #ff526f;
}

#ac:active {
  background-color: #d90026;
}

.operator-button {
  background-color: #dae3f3;
}

.operator-button:hover {
  background-color: #87ceff;
}

.operator-button:active {
  background-color: #4f93cc;
}

a {
  color: #858585;
}

a:hover {
  cursor: pointer;
  color: #bfbfbf;
}

a:active {
  color: #5f5f5f;
}

@media screen and (max-width: 400px){
  #container {
    margin: 125px auto 10px auto;
    padding: 16.5px;
    width: 626px;
  }

  #display {
    padding: 10px;
    width: 578px;
    height: 112px;
    margin: 8.5px;
  }

  div div div {
    display: inline-block;
    padding: 21.25px;
    width: 95px;
    height: 95px;
    margin: 8px;
    font-size: 46px;
  }

  p {
    margin: 25px auto;
    font-size: 23px;
  }

  #zero {
    width: 249px;
  }

  #ac {
    width: 402px;
  }
}
